#!/bin/bash
MITIP_HOME='/net/metagenomics/data/from_moni/old.tzuhao/MI-TIP/'
REF_GFF='sample/reference/RefCln_UCBPP-PA14.gff'
REF_FASTA='sample/reference/RefCln_UCBPP-PA14.fa'
FQ='sample/fq.list'
TMP_DIR='tmp'
GENE_REGIONS='sample/genesRegion.txt' # the format should be 'ref:start-end'
ALN_IDENT_CUTOFF=0.95 # filter gene groups by alignment quality
FINAL_ALN='Paeru.OneLarge.aln'
FINAL_TREE='Paeru.OneLarge.tree'
THR_NUM=10 # cpu number

# Paths of dependencies
PATH=$MITIP_HOME:$PATH
# samtools (1.3.1)
PATH=~/bin/samtools/bin//samtools:$PATH
# bcftools (1.3.1)
PATH=~/bin/bcftools/bin/bcftools:$PATH
# htslib (1.3.1)
LD_LIBRARY_PATH=~/bin/htslib/lib/:$PATH
# bamtools (2.3.0) https://github.com/pezmaster31/bamtools
PATH=~/bin/freebayes/bamtools/bin/:$PATH
# freebayes-parallel in freebayes (v1.1.0)
PATH=~/bin/freebayes/bin/:~/bin/freebayes/scripts/:$PATH
# GNU parallel (20161222)
PATH=~/bin/bin/:$PATH
# stampy.py (v1.0.31) http://www.well.ox.ac.uk/project-stampy
PATH=~/bin/stampy-1.0.31/:$PATH
# mafft (v7.305b) https://mafft.cbrc.jp/alignment/software/
PATH=~/bin/bin/:$PATH
# trimal (1.2rev59) 
PATH=~/bin:$PATH
# FastTreeMP (2.1.10 Double precision, No SSE3, OpenMP)
PATH=~/bin/FastTree/:$PATH

# temporary files
log_f=$TMP_DIR'/MI-TIP.log'
SAM_DIR=$TMP_DIR'/remapping_sam'
BAM_DIR=$TMP_DIR'/bam/'
VCF_DIR=$TMP_DIR'/vcf/'
GENE_SEQ_DIR=$TMP_DIR'/genes.fasta/'
GENE_FAMILY_SEQ_DIR=$TMP_DIR'/gene_family'
GENE_FAMILY_ALN_DIR=$TMP_DIR'/gene_family_aln/'
make_sam_commands=$TMP_DIR'/commands.makeSAM.txt'
sam_log=$TMP_DIR'/makeSAM.log'
sam_list=$TMP_DIR'/sam.list'
vcf_list=$TMP_DIR'/vcf.list'
make_concensus_commands=$TMP_DIR'/commands.makeConsensus.txt'
consensus_log=$TMP_DIR'/consensus.log '
seqfiles_list=$TMP_DIR'/geneSeqFiles.list'
core_genes=$TMP_DIR'/commonGenes'
mafft_commands=$TMP_DIR'/commands.mafft.txt'
mafft_log=$TMP_DIR'/mafft.log'
aln_list=$TMP_DIR'/aln.list'
aln_ident_list=$TMP_DIR'/aln.av_ident.list'
good_genes_list=$TMP_DIR'/good_aln.list'


